.timer--container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    flex-direction: column;
}

.timer--typography {
    color: white;
}

.button--reset {
    color: white;
}